

input {
    display: block;
    margin: 15px auto;
}

a {
    text-decoration-line: none !important;
}

.minutes {
    display: block;
    margin: 15px auto;
}

.column{
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content : center;
}

.intro-paragraph {
    font-size: 17px;
    font-family: 'Spectral', serif;
    margin-left: 17px;
}

.example {
    margin: 0;
    font: 300 42px/1.5 "Helvetica Neue", sans-serif;
    color: #b3ada5;
    text-decoration: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
        to right,
        #283271,
        #283271 50%,
        #d7a150 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: 7s linear;
    display: inline;
}

.highlight {
    background-position: 0%;
  }

.restart {
    font: 300 42px/1.5 "Helvetica Neue", sans-serif;
    color: #d7a150;
    margin: 0;
}

.options{
    font-family: 'Spectral', serif;
    font-size: 22px;
}

.first-page {
    text-align: center;
    background-color: white;
    width: 682px;
    height: 455px;
    /* margin: auto; */
    border-radius: 30px;
}

#script-text-area {
    width: 95%;
    resize: none;
}

@media only screen and (min-width: 918px){

    input {
        margin: 18px auto;
    }

    .minutes {
        margin: 18px auto;
    }

    .intro-paragraph {
        font-size: 19px;
        margin-left: 19px;
    }

    .options{
        font-size: 26px;
    }

    .first-page {
        width: 836px;
        height: 494px;
    }
}

@media only screen and (min-width: 992px){

    input {
        margin: 18px auto;
    }

    .minutes {
        margin: 18px auto;
    }

    .intro-paragraph {
        font-size: 19px;
        margin-left: 19px;
    }

    .options{
        font-size: 26px;
    }

    .first-page {
        width: 924px;
        height: 555px;
    }
}

@media only screen and (min-width: 1200px){

    input {
        margin: 20px auto;
    }

    .minutes {
        margin: 20px auto;
    }

    .intro-paragraph {
        font-size: 25px;
        margin-left: 25px;
    }

    .options{
        font-size: 35px;
    }

    .first-page {
        width: 1100px;
        height: 650px;
    }

}

@media only screen  and (min-width : 1824px) {

    input {
        margin: 25px auto;
    }

    .minutes {
        margin: 25px auto;
    }

    .intro-paragraph {
        font-size: 32px;
        margin-left: 32px;
    }

    .options{
        font-size: 44px;
    }

    .first-page {
        width: 1342px;
        height: 793px;
    }

}