.original-div{
    height: 100%;
    /* height: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.second-div{
    height: 100%;
    /* background-image: linear-gradient(to right, #0C73FF, #13C5FF); */
    display: flex;
    align-content: center;
    justify-content: center;
}

